.main-display {
  padding: 30px;
  text-align: center;
  background: rgba(221, 239, 248, 0.87);
  border-radius: 10px;
  width: 650px;
  box-shadow: 0 4px 8px #f5f5f533, 0 6px 20px #fdfdfd30;
  height: 750px;
}
.display-image {
  width: 250px;
  height: 250px;
  overflow: hidden;
  padding: 1em;
}
